@import "../css/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

// color
$color-main-blue:#509BF8;
$color-black: #222;
$color-gray: #8E8E8E;
$color-red: #FF5539;
$color-green: #72CA3F;
$color-blue: #006cf8;
$color-yello: #FFE459;

// radius
$radius-m: 25px;
$radius-s: 15px;

// font size
$f-size-xxl: 1.625rem; //26px
$f-size-xl: 1.25rem; //20px
$f-size-x: 1.125rem; //18px
$f-size-l: 0.938rem; //15px
$f-size-m: 0.875rem; //14px
$f-size-s: 0.813rem; //13px
$f-size-xs: 0.75rem; //12px
$f-size-ss: 0.688rem; //11px

$min-w: 320px;

// img
@mixin img-default {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

//btn style 實心
@mixin btn-solid {
  font-size: $f-size-l;
  background-color: $color-main-blue;
  border-radius: $radius-m;
  color: #fff;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

//btn style 框線
@mixin btn-line {
  font-size: $f-size-l;
  border: 1px $color-black solid;
  color: $color-black;
  border-radius: $radius-m;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.c-green {
  color: $color-green;
}

.c-red {
  color: $color-red;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

// reminder
.text-reminder {
  padding: 10px 0;
  font-size: $f-size-m;
  line-height: 1.5;

  i {
    padding-right: 5px
  }
}


// 按鈕-XL
.btn-primary-xl {
  @include btn-solid;
  font-weight: bold;
  min-width: 185px;
  display: flex;
  text-align: center;
  height: 50px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px $color-main-blue solid;

  &:hover {
    opacity: 0.9;
  }

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  span {
    padding: 0 10px;
  }

}
.btn-bg-w {
  background-color: #fff;
  color: #8E8E8E;
  border: #fff;
}
.btn-disabled {
  cursor: initial;
  background-color: #B1B1B1;
  border-color: #B1B1B1;
  &:hover {
    opacity: 1;
  }
}

.btn-primary-line-xl {
  @include btn-line;
  font-weight: bold;
  min-width: 168px;
  display: flex;
  text-align: center;
  height: 50px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px $color-black solid;

  span {
    padding: 0 10px;
  }

  &:hover {
    opacity: 0.9;
    background-color: #eaeaea;
  }

  // @media all and (max-width: 500px) {
  //   height: 45px;
  //   font-size: $f-size-m;
  //   min-width: 148px;
  // }

  // @media all and (max-width: 450px) {
  //   font-size: $f-size-s;
  //   min-width: 130px;
  // }
}


.the-select {
  position: relative;
  display: block;
  border-radius: $radius-m;
  position: relative;
  background-color: #fff;
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 15px;
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url(../images/svg/arr_down_k.svg) center center no-repeat;
    background-size: contain;
    font-weight: 900;
    pointer-events: none;
  }

  select {
    width: 100%;
    height: 46px;
    padding: 0px 30px 0px 20px;
    font-size: $f-size-l;
    border: #DCDCDC 1px solid;
    border-radius: $radius-m;
    line-height: 44px;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    background-color: transparent;
    word-break: break-all;
    text-overflow: ellipsis;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &:disabled {
      color: #555;
      background-color: #EAEAEA;
      border-color: #d8d8d8;
      opacity: 1;
    }
    
    &:hover {
      border-color: $color-main-blue;
    }
    &:disabled:hover {
      border-color: #d8d8d8;
    }
    &::-ms-expand {
      display: none;
    }

    option::-ms-expand {
      display: none;
    }

    option {
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari 和 Chrome */
      appearance: none;
    }
  }
}


input.default,
textarea.default {
  width: 100%;
  line-height: 44px;
  height: 46px;
  padding: 0 20px;
  font-size: $f-size-l;
  border-radius: $radius-m;
  border: #DCDCDC 1px solid;
  color: #333;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &::placeholder {
    color: #9E9E9E;
  }

  &:focus {
    border-color: $color-main-blue;
    background-color: #fcfcfc;
  }

  &:disabled {
    color: #555;
    background-color: #EAEAEA;
  }
}

textarea.default{
  min-height: 240px;
  padding: 20px;
  line-height: 1.5;
}

input.has-error {
  border: 1px $color-red solid;

  &:hover,
  &:focus {
    border: 1px $color-red solid;
  }
}
.input-date{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 4px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../images/svg/icon_calendar.svg);
    @include img-default;
    background-size: 40%;
    pointer-events: none;
  }
}
.input-search{
  position: relative;
  .icon-search {
    position: absolute;
    top: calc(50% - 9px);
    right: 18px;
    width: 18px;
    height: 18px;
    background-image: url(../images/svg/icon_search.svg);
    @include img-default;
  }
  input{
    text-align: center;
  }
}

// both btn
.both-btn {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0 15px 0;

  a {
    margin: 2.5px 10px 2.5px 0;
  }
}

// switch
.switch-type {
  .switchbutton {
    display: inline-block;
    position: relative;
    height: 22px;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: #eee;
    border-radius: 22px;

    &:before {
      content: "";
      display: inline-block;
      width: 42px;
      height: 22px;
      background-color: #fff;
      border-radius: 22px;
      box-sizing: border-box;
      border: 2px solid #eee;
      transition: all 0.2s linear;
    }

    &:after {
      position: absolute;
      left: 2px;
      top: 2px;
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 18px;
      transition: all 0.2s linear;
      box-shadow: 0px 1px 3px #bbb;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    &:checked~.switchbutton:before {
      background-color: #DCA60F;
      border: 1px solid #DCA60F;
    }

    &:checked~.switchbutton:before {
      background-color: #DCA60F;
      border: 1px solid #DCA60F;
    }

    &:checked~.switchbutton:after {
      left: 22px;
    }
  }
}

// 內容最大寬度
@mixin max-box-width {
  width: calc(100% - 40px);
  max-width: 1020px;
  margin: 0px auto;

  // @media all and (max-width: 500px) {
  //   margin: 25px auto;
  // }
}

// shadow
@mixin has-box-shadow {
  box-shadow: rgba(rgba(0, 0, 0, 0.3), 0.16) 0px 3px 12px;
}

@mixin has-box-shadow-light {
  box-shadow: rgba(rgba(226, 218, 218, 0.3), 0.35) 5px 5px 10px;
}

// 固定白底圓角
@mixin bg-box-w {
  border-radius: $radius-m;
  background-color: #fff;
  box-shadow: rgba(rgba(0, 0, 0, 0.3), 0.16) 0px 3px 12px;
}

// loader_circle animation
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


// 自刻 下拉選單
.click-list {
  position: relative;

  p {
    font-size: $f-size-m;
    padding: 0px 15px;
    line-height: 1.5;
    cursor: pointer;

    span {
      padding-right: 30px;
      display: inline-block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 2.5px);
        width: 8px;
        height: 5px;
        display: block;
        background: url(../images/svg/arr_down_k.svg) center center no-repeat;
        background-size: contain;
      }
    }
  }

  @media all and (max-width: 500px) {
    p {
      font-size: $f-size-s;

      span {
        padding-right: 20px;
      }
    }
  }
}

ul.dropdown-list {
  min-width: 110px;
  position: absolute;
  background-color: #fff;
  border-radius: $radius-m;
  overflow: hidden;
  z-index: 1;
  @include bg-box-w;

  li {
    color: #333;
    font-size: $f-size-m;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
      border: none;
    }
  }

  a {
    padding: 15px 20px;
    color: #333;
    display: block;

    &:hover {
      background-color: #eaeaea;
      // color: #fff;
    }
  }

  @media all and (max-width: 500px) {
    li {
      font-size: $f-size-s;
    }
  }
}


// list
.note-list {
  padding: 10px 0;
  font-size: $f-size-l;
  margin-left: 20px;
  line-height: 1.5;
}

.note-nb {
  list-style-type: decimal;
}

.note-disc {
  list-style-type: disc;
}

// 
.control {
  padding: 12px;
  min-width: 70px;
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: $f-size-m;
  color: $color-gray;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:disabled~.control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      -webkit-filter: grayscale(1);
      pointer-events: none;
    }

    &:disabled~.control__indicator input {
      cursor: not-allowed;
    }

    &:checked~.control__indicator {
      background: $color-main-blue;
      border-color: $color-main-blue;
    }

    &:checked~.control__indicator:after {
      display: block;
    }
  }

  @media all and (max-width: 500px) {
    font-size: $f-size-s;
  }
}

.control__indicator {
  position: absolute;
  top: 12px;
  left: 2px;
  height: 15px;
  width: 15px;
  border-radius: 4px;
  border: 2px solid #cfcfcf;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    display: none;
  }
}

.control--checkbox .control__indicator:after {
  left: 3px;
  top: -1px;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.control--radio {
  .control__indicator {
    border-radius: 50%;

    &:after {
      left: calc(50% - 2.5px);
      top: calc(50% - 2.5px);
      height: 5px;
      width: 5px;
      border-radius: 50%;
      // background: #4EB5A5;
    }
  }

  input {
    &:checked~.control__indicator {
      // background-color: #fff;
    }

    &:checked~.control__indicator:after {
      display: block !important;
      background: #fff;
    }

    &:disabled~.control__indicator:after {
      background-color: #333;
      cursor: no-drop;
    }

    &:disabled:checked~.control__indicator {
      display: block;
    }

    &:disabled:checked~.control__indicator:after {
      display: block;
      background-color: #333;
    }
  }
}



.bottom-tools{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 3;
  @include has-box-shadow;
  border-radius: 25px 25px 0 0;
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      flex: 1;
      a{
        width: 100%;
        display: block;
        text-align: center;
        padding: 45px 5px 12px 5px;
        position: relative;
        color: $color-gray;
        font-size: $f-size-s;
        .nb{
          position: absolute;
          top: 10px;
          left: calc(50% + 7px);
          line-height: 15px;
          text-align: center;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $color-red;
          color: #fff;
          font-size: $f-size-ss;
          z-index: 2;
        }
        &::before{
          content: "";
          position: absolute;
          top: 14px;
          left: calc(50% - 12px);
          width: 24px;
          height: 20px;
          display: block;
          @include img-default;
          filter: grayscale(100%);
          opacity: .8;
        }
        &.icon-feed::before{
          background-image: url(../images/svg/tools_icon_feed.svg);
        }
        &.icon-otherclass::before{
          background-image: url(../images/svg/tools_icon_otherclass.svg);
        }
        &.icon-myclass::before{
          background-image: url(../images/svg/tools_icon_myclass.svg);
        }
        &.icon-class::before{
          background-image: url(../images/svg/tools_icon_class.svg);
        }
        &.icon-setting::before{
          background-image: url(../images/svg/tools_icon_setting.svg);
        }
      }
      &.btn-in{
        a{
          color: $color-black;
          &::before {
            opacity: 1;
            filter:initial;
          }
        }
      }
    }
  }
}
// ------

main{
   min-height: 100vh; 
}

// login
.login-wrap {
  h1.name-title {
    font-weight: bold;
    color: $color-main-blue;
    font-size: $f-size-xl;
    padding: 60px 0 20px 0;
    text-align: center;
  }
  .mid-content{
    max-width: 280px;
  }
  .top-text-wrap{
    text-align: center;
  }
  input.default{
    text-align: center;
  }
  input.id{
    color: $color-main-blue;
    font-weight: bold;
    &::placeholder {
      font-weight: normal;
    }
  }
  .txn-checkbox{
    text-align: center;
    padding-bottom: 10px;
  }
}
.bg-login{
  background: url(../images/bg_login.png) center bottom no-repeat;
  background-size: contain;
}
.user-photo{
  width: 35px;
  height: 35px;
  display: block;
  border-radius:10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #dbdbdb;
  @include img-default;
  span{
    font-size: $f-size-xxl;
    font-weight: bold;
  }
}

// setting
.setting-wrap{
  .top-text{
    text-align: center;
    color: $color-gray;
    padding:40px 0 20px 0;
  }
  .user-name{
    text-align: center;
    color: $color-black;
    font-size: $f-size-l;
    font-weight: bold;
    padding: 20px 0;
  }
  .user-photo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .btn{
    padding: 10px 0;
  }
}

// header
.header-wrap {
  width: 100%;
  min-width: $min-w;
  padding: 15px 20px;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;

  p {
    font-size: $f-size-l;
    color: #fff;
  }

  .user-profile-photo {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-left: auto;
    background-color: $color-black;
  }

  .account-menu {
    position: absolute;
    width: 175px;
    top: 60px;
    right: 15px;
    z-index: 3;

    .user-name {
      padding: 10px 20px 15px 20px;
      border-bottom: 1px solid #eaeaea;

      p {
        color: #333;
        font-size: $f-size-s;
        font-weight: bold;
        line-height: 1.5;
      }

      span {
        display: block;
        font-weight: normal;
        font-size: $f-size-ss;
        padding-top: 8px;
      }
    }
  }

  @media all and (max-width: 500px) {
    padding: 10px 20px;

    p {
      font-size: $f-size-s;
    }

    .web-title {
      p {
        padding-left: 5px;
      }

      ul.web-all-list li {
        font-size: $f-size-s;
      }
    }
  }
}

.top-breadcrumb {
  width: 100%;
  min-width: $min-w;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #ECEDF2;
  .icon{
    width: 40px;
    height: 40px;
    display: flex;
    @include img-default;
  }
  .icon-back{
    background-image: url(../images/svg/arr_left_blue.svg);
    background-size: 35%;
  }
  .icon-myclass-add{
    background-image: url(../images/svg/icon_myclass_add.svg);
    background-size: 75%;
  }
  .icon-otherclass-add{
    background-image: url(../images/svg/icon_otherclass_add.svg);
    background-size: 75%;
  }
  .icon-class-add{
    background-image: url(../images/svg/icon_class_add.svg);
    background-size: 75%;
  }
  .icon-feed-add{
    background-image: url(../images/svg/icon_feed_add.svg);
    background-size: 75%;
  }
  .mid-cont {
    padding: 10px;
    max-width: 1090px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
  }
  .top-text-wrap{
    width: initial;
    h3.main-title{
      padding: 10px 0;
    }
    p.date{
      padding:5px 0;
      font-size: $f-size-s;
      color: $color-gray;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
  }
  .edit-test-title{
    input{
      text-align: center;
    }
  }
  .input-search{
    padding: 0px 20px 15px 20px;
    max-width: 1060px;
    margin: 0 auto;
    .icon-search{
      top: 14px;
      right: 37px;
    }
  }
}
.class-status {
  padding: 0px 15px 10px 15px;
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  p{
    padding: 0px 20px;
    color: $color-gray;
    font-size: $f-size-s;
    &.student-nb {
      padding-bottom: 10px;
      span {
        color: $color-main-blue;
        font-size: $f-size-l;
        font-weight: bold;
      }
    }
    &.text-center{
      color: $color-black;
      text-align: center;
    }
  }
  .btn-primary-xl {
    font-size: $f-size-m;
    height: 42px;
    margin: 0 5px;
    min-width: initial;
    flex: 1;
    @include has-box-shadow;
  }
}
.top-text-wrap {
  position: relative;
  width: 100%;
  @include max-box-width;

  h3.main-title {
    font-weight: bold;
    text-align: center;
    font-size: $f-size-l;
    position: relative;
    padding: 20px 0;
  }

  .utomatic-type {
    border-radius: $radius-m;
    padding: 5px 10px;
    background-color: #fff;
    font-size: $f-size-s;
    font-weight: initial;
    border: 1px solid #DFDFDF;
    margin: 2px 10px;
    display: inline-block;
  }

  .question-mark {
    padding: 0 5px;
  }

  .text {
    line-height: 1.5;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 20px;
    .btn-primary-xl {
      @include has-box-shadow;
    }
  }

  @media all and (max-width: 750px) {
    .utomatic-type {
      display: block;
      width: fit-content;
      margin: 10px 10px 10px 0;
    }
  }

  @media all and (max-width: 700px) {
    h3.main-title {
      font-size: $f-size-xl;
    }

    .text,
    .note-list {
      font-size: $f-size-m;
    }
  }

  @media all and (max-width: 500px) {
    h3.main-title {
      font-size: $f-size-x;
    }

    .note-list {
      font-size: $f-size-s;
    }

    .utomatic-type {
      font-size: $f-size-ss;
      padding: 5px 8px;
    }
  }
}

.mid-content {
  @include max-box-width;
}

.mid-cont-transparent {
  @include max-box-width;
}

.form-style {
  label.label-title {
    color: $color-gray;
    padding: 15px;
    display: block;
  }

  form {
    // padding: 50px 20px 40px 20px;
    max-width: 440px;
    margin: 0 auto;

    .a-row {
      padding: 5px 0;

    }

    &.account {
      .a-row {
        position: relative;

        p.fl-r {
          position: absolute;
          right: 6px;
          top: calc(50% - 16.5px);
          font-size: $f-size-m;

          a {
            position: relative;
            padding: 10px;
            display: block;
            color: $color-black;

            &:hover {
              text-decoration: underline;
            }
          }

          &.text-verified {
            a {
              padding-left: 30px;

              &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                display: block;
                left: 8px;
                top: calc(50% - 7.5px);
                background-image: url(../images/svg/circle_check_yello.svg);
                @include img-default;
              }
            }
          }

          &.text-pw {
            font-size: $f-size-s;
          }
        }
      }

      input.user:disabled {
        background-color: #fff;
        color: $color-black;
      }

      .btn {
        padding-top: 30px;
      }

      @media all and (max-width: 500px) {
        .a-row p.fl-r {
          font-size: $f-size-s;
        }
      }
    }
  }

  .text-enable {
    padding: 10px 0 30px 0;
    font-size: $f-size-xs;
    line-height: 1.5;
    color: $color-gray;
    a {
      color: $color-main-blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media all and (max-width: 500px) {
    label.label-title {
      font-size: $f-size-m;
    }

    form {
      padding: 20px;

      &.cancel-form {
        padding: 5px 20px 20px 20px;
      }
    }
  }
}

.tools-btns {
  margin-left: auto;
  width: 125px;
  a{
    min-height: 46px;
    opacity: .65;
    width: 100%;
    // display: block;
    border-radius: $radius-s;
    padding: 6px 5px;
    background-color: #fff;
    color: $color-main-blue;
    font-weight: bold;
    font-size: $f-size-s;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    &.f-s-l{
      font-size: $f-size-l;
    }
    &.line-btn{
      border: #fff 1px solid;
      background: transparent;
      color: #fff;
      font-weight: normal;
    }
    &.icon {
      padding-top: 34px;
      position: relative;
      @include has-box-shadow;
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: calc(50% - 12px);
        width: 24px;
        height: 20px;
        display: block;
        @include img-default;
      }
      &.icon-feed::before {
        background-image: url(../images/svg/tools_icon_feed.svg);
      }
      &.icon-check::before {
        background-image: url(../images/svg/tools_icon_check.svg);
      }
      &.icon-score::before {
        top: 6px;
        height: 21px;
        left: calc(50% - 8px);
        background-image: url(../images/svg/tools_icon_score.svg);
      }
      &.icon-myclass::before {
        background-image: url(../images/svg/tools_icon_myclass.svg);
      }
      &.icon-class::before {
        background-image: url(../images/svg/tools_icon_class.svg);
      }
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      text-align: center;
      padding: 4px;
      flex: calc(50% - 5px);
      &.fl-100{
        flex: 100%;
        .icon{
          padding: 6px 5px 6px 28px;
          &::before{
            left: 22px;
            top: calc(50% - 12px);
          }
        }
      }
      &.bg-yello{
        a{
          opacity: 1;
          color: #444;
          background-color: $color-yello;
        }
      }
      &.bg-w{
        a{
          opacity: 1;
          color: #444;
          background-color:#fff;
        }
      }
    }
  }
}

.circle-color{
  display: flex;
  align-items: center;
  padding-top: 10px;
  li{
    display: flex;
    justify-content: center;
    flex: 1;
    cursor: pointer;
    padding: 5px;
    .circle{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: block;
    }
    &:nth-child(1){
      .circle{
        background-color: #F45055;
      }
    }
    &:nth-child(2){
      .circle{
        background-color: #FF887C;
      }
    }
    &:nth-child(3){
      .circle{
        background-color: #F0A25C;
      }
    }
    &:nth-child(4){
      .circle{
        background-color: #F0CF5D;
      }
    }
    &:nth-child(5){
      .circle{
        background-color: #51B749;
      }
    }
    &:nth-child(6){
      .circle{
         background-color: #65E0B3;
      }
    }
    &:nth-child(7){
      .circle{
        background-color: #46D6DB;
      }
    }
    &:nth-child(8){
      .circle{
        background-color: #509BF8;
      }
    }
    &:nth-child(9){
      .circle{
        background-color: #A4BDFC;
      }
    }
    &:nth-child(10){
      .circle{
        background-color: #D1ACEE;
      }
    }
    &.btn-in{
      padding:0 10px;
      .circle{
        width: 25px;
        height: 25px;
        outline-style: solid;
        outline-color: #fff;
        outline-width: 5px;
        @include has-box-shadow;
      }
    }
  }
}
.main-wrap{
  .icon-add-plus{
    position: fixed;
    bottom: 20px;
    right: 12px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    z-index: 3;
    @include has-box-shadow;
    background: url(../images/svg/icon_plus_w.svg) center center no-repeat $color-main-blue;
    &:active{
      background-color: #006cf8;
    }
  }
  .icon-add-edit{
    position: absolute;
    top:-5px;
    right: 25px;
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    z-index: 3;
    @include has-box-shadow;
    background: url(../images/svg/icon_edit.svg) center center no-repeat #fff;
    &:active{
      background-color: #67abff25;
    }
  }
  .mid-content{
    padding:10px 0;
  }
  .feed-content{
    padding-top: 0;
    .the-select{
      margin-bottom: 10px;
    }
  }
  .student-content{
    padding: 0;
    .many{
      input{
        margin-bottom: 10px;
      }
    }
  }
  .top-card-year{
    width: calc(100% + 40px);
    padding:10px 50px;
    margin-left: -30px;
    font-size: 1rem;
    font-weight: bold;
    color: $color-main-blue;
    position: sticky;
    top: 110px;
    z-index: 2;
    background-color: #ECEDF2;
  }
  .a-card{
    width: 100%;
    border-radius: $radius-m;
    background-color: #B0C2D2;
    padding: 10px 10px 10px 15px;
    display: flex;
    margin-bottom: 14px;
    @include has-box-shadow;
    h4, p{
      color: #fff;
    }
    .class-info{
      width: calc(100% - 125px);
      padding-left: 15px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      &::before{
        position: absolute;
        left: 0;
        top: 10px;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-yello;
      }
      .date{
        padding: 5px 0;
        font-size: $f-size-m;
        font-weight: bold;
        line-height: 1.2;
      }
      .class-year{
        font-size: $f-size-s;
        font-weight: bold;
      }
      .classroom{
        font-size: $f-size-ss;
        color: #fff;
        padding: 10px 0;
        span{
          position: relative;
          padding-right: 22px;
          &::after{
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            width: 14px;
            height: 14px;
            display: block;
            background-image: url(../images/svg/icon_edit_w.svg);
            @include img-default;
            opacity: .5;
          }
        }
        &:hover{
          span::after{
            opacity: 1;
          }
        }
      }
      .progress-box{
        padding: 10px 0;
        margin-top: auto;
        .text{
          display: flex;
          p{
            
            font-size: $f-size-s;
            &.nb{
              font-size: $f-size-l;
              font-weight: bold;
              margin-left: auto;
            }
          }
        }
        progress{
          width: 100%;
          height: 6px;
          background-color: #D9D9D9;
          border-radius: 6px;
          &::-webkit-progress-bar {
            background-color: #FFF;
            border-radius: 6px;
          }
          &::-webkit-progress-value {
            background-color: #FFE459;
            border-radius: 6px;
          }
        }
      }
    }
    .no-circle{
      padding-left: 10px;
      &::before {
        display: none;
      }
      .class-year{
        font-size: $f-size-l;
        padding-top: 10px;
      }
      .classroom{
        font-size: $f-size-s;
        span::after{
          top: 3px;
        }
      }
    }
  }
  .first, .online {
    background-color: $color-main-blue;
  }
  .second{
    background-color: #86BCEE;
  }
  .a-feed-card{
    width: 100%;
    border-radius: $radius-m;
    background-color: #fff;
    padding: 18px;
    margin-bottom: 14px;
    @include has-box-shadow;
    .card-info{
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      p{
        padding: 0 10px;
        font-weight: bold;
        font-size: $f-size-l;
      }
      .date{
        margin-left: auto;
        font-size: $f-size-s;
        padding: 10px 0;
        span{
          position: relative;
          padding-right: 22px;
          color: $color-gray;
          font-weight: bold;
          &::after{
            position: absolute;
            right: 0;
            top: calc(50% - 7px);
            content: "";
            width: 14px;
            height: 14px;
            display: block;
            background-image: url(../images/svg/icon_edit.svg);
            filter: grayscale(100%);
            @include img-default;
            // opacity: .5;
          }
        }
        &:hover{
          span::after{
            opacity: 1;
          }
        }
      }
      .user-photo{
        span{
          font-size: $f-size-m;
        }
      }
    }
    .hashtag{
      padding-top: 8px;
      color: $color-main-blue;
      font-size: $f-size-s;
    }
    .text{
      text-align: justify;
      line-height: 1.5;
      font-size: $f-size-m;
    }
  }
  .class-list{
    width: 100%;
    padding: 15px 0;
    li{
      position: relative;
      width: 100%;
      border-radius: $radius-m;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 14px;
      text-align: center;
      border: 1px solid #DCDCDC;
      cursor: pointer;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      p{
        font-weight: bold;
        display: inline-block;
        line-height: 1.5;
        font-size: $f-size-m;
        color:#333;
      }
      &:active{
        background-color: #67abff25;
      }
    }
  }

  .icon-star{
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 15px;
      left: 25px;
      top: calc(50% - 7.5px);
      display: block;
      background-image: url(../images/svg/icon_star.svg);
      @include img-default;
    }
  }
  .test-list{
    width: 100%;
    border-radius: $radius-m;
    background-color: #fff;
    overflow-y: auto;
    @include has-box-shadow;
    max-height: calc(100vh - 140px) ;
    
    li{
      align-items: center;
      p{
        line-height: 1.5;
        font-size: $f-size-m;
        font-weight: bold;
      }
      display: flex;
      position: relative;
      width: 100%;
      background-color: #fff;
      padding: 15px 30px;
      padding-left: 55px;
      border-bottom: 1px solid #DCDCDC;
      cursor: pointer;
      &:active {
        background-color: #67abff25;
      }
      .fraction{
        margin-left: auto;
      }
    }
  }
  .edit-test{
    max-height: calc(100vh - 165px);
    margin-bottom: 20px;
    input{
      font-weight: bold;
      text-align: center;
      background-color: #ECEDF2;
      border-radius: $radius-s;
    }
    li{
      padding: 10px 30px 10px 55px;
      &.test-title{
        padding: 12px 20px;
        position: sticky;
        top: 0;
        z-index: 2;
        input{
          height: 44px;
        }
      }
    }
    .fraction{
      input{
        width: 70px;
        height: 35px;
      }
    }
  }
  .student-list{
    width: 100%;
    border-radius: $radius-m;
    background-color: #fff;
    overflow-y: auto;
    padding-bottom: 20px;
    @include has-box-shadow;
    max-height: calc(100vh - 160px) ;
    li{
      align-items: center;
      display: flex;
      position: relative;
      width: 100%;
      background-color: #fff;
      padding:10px 10px 10px 40px;
      border-bottom: 1px solid #DCDCDC;
      cursor: pointer;
      &.icon-star::before{
        left: 15px;
        width: 13px;
      }
      p{
        line-height: 1.5;
        font-size: $f-size-s;
        color: $color-gray;
      }
      .name{
        color: $color-black;
        font-size: $f-size-m;
        width: 35%;
        font-weight: bold;
      }
      .school{
        width: 35%;
        padding-left: 5px;
      }
      .otherclass{
        width: 25%;
        padding: 0 5px;
        font-size: $f-size-ss;
      }
      .icon-edit{
        margin-left: auto;
        width: 30px;
        height: 30px;
        background-image: url(../images/svg/icon_edit.svg);
        @include img-default;
        background-size: 55%;
        filter: grayscale(100%);
        opacity: .5;
        &:active {
          opacity: 1;
          filter: initial;
        }
      }
    }
    .input-search{
      position: sticky;
      top: 0;
      z-index: 2;
      padding: 0;
      border-color: #b6b6b6;
      input{
        border: none;
        border-radius: 0;
      }
    }
  }
  .icon-return{
    li{
      &::after{
        position: absolute;
        content: "";
        right: 15px;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        display: block;
        background-image:url(../images/svg/icon_return.svg);
        @include img-default;
      }
    }
  }
  .icon-right-arr {
    padding: 0;
    li {
      a{
        width: 100%;
        display: block;
        text-align: left;
      }
      justify-content:left;
      padding: 10px 25px;
      &::after {
        position: absolute;
        content: "";
        right: 15px;
        top: calc(50% - 6px);
        width: 13px;
        height: 12px;
        display: block;
        background-image: url(../images/svg/arr_right.svg);
        @include img-default;
      }
    }
  }
  // 給下方 tools 位置用
  .pa-b-75{
    padding-bottom: 75px;
  }
  // 只有我的班級-卡片底色用
  // 預設
  .color-default{
    .a-card{
      background-color: $color-main-blue;
    }
  }
  // 漸層
  .color-gradient{
    .a-card{      
      &:nth-child(1n+1){
        background-color: #F45055;
        .tools-btns a.icon{
          color: #F45055;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_01.svg);
          }
        }
      }
      &:nth-child(2n+2){
        background-color: #FF887C;
        .tools-btns a.icon{
          color: #FF887C;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_02.svg);
          }
        }
      }
      &:nth-child(3n+3){
        background-color: #F0A25C;
        .tools-btns a.icon{
          color: #F0A25C;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_03.svg);
          }
        }
      }
      &:nth-child(4n+4){
        background-color: #F0CF5D;
        .tools-btns a.icon{
          color: #F0CF5D;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_04.svg);
          }
        }
      }
      &:nth-child(5n+5){
        background-color: #51B749;
        .tools-btns a.icon{
          color: #51B749;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_05.svg);
          }
        }
      }
      &:nth-child(6n+6){
        background-color: #65E0B3;
        .tools-btns a.icon{
          color: #65E0B3;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_06.svg);
          }
        }
      }
      &:nth-child(7n+7){
        background-color: #46D6DB;
        .tools-btns a.icon{
          color: #46D6DB;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_07.svg);
          }
        }
      }
      &:nth-child(8n+8){
        background-color: #509BF8;
        .tools-btns a.icon{
          color: #509BF8;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_08.svg);
          }
        }
      }
      &:nth-child(9n+9){
        background-color: #A4BDFC;
        .tools-btns a.icon{
          color: #A4BDFC;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_09.svg);
          }
        }
      }
      &:nth-child(10n+10){
        background-color: #D1ACEE;
        .tools-btns a.icon{
          color: #D1ACEE;
          &.icon.icon-score::before{
            background-image: url(../images/svg/tools_icon_score_10.svg);
          }
        }
      }
    }
  }
  // 自選
  .optional-c01{
    background-color: #F45055;
    .tools-btns a.icon{
      color: #F45055;
      &.icon.icon-score::before{
        background-image: url(../images/svg/tools_icon_score_01.svg);
      }
    }
  }
  .optional-c02{
    background-color: #FF887C;
    .tools-btns a.icon {
      color: #FF887C;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_02.svg);
      }
    }
  }

  .optional-c03{
    background-color: #F0A25C;
    .tools-btns a.icon {
      color: #F0A25C;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_03.svg);
      }
    }
  }

  .optional-c04{
    background-color: #F0CF5D;
    .tools-btns a.icon {
      color: #F0CF5D;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_04.svg);
      }
    }
  }

  .optional-c05{
    background-color: #51B749;
    .tools-btns a.icon {
      color: #51B749;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_05.svg);
      }
    }
  }

  .optional-c06{
    background-color: #65E0B3;
    .tools-btns a.icon {
      color: #65E0B3;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_06.svg);
      }
    }
  }

  .optional-c07{
    background-color: #46D6DB;
    .tools-btns a.icon {
      color: #46D6DB;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_07.svg);
      }
    }
  }

  .optional-c08{
    background-color: #509BF8;
    .tools-btns a.icon {
      color: #509BF8;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_08.svg);
      }
    }
  }

  .optional-c09{
    background-color: #A4BDFC;
    .tools-btns a.icon {
      color: #A4BDFC;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_09.svg);
      }
    }
  }

  .optional-c10{
    background-color: #D1ACEE;
    .tools-btns a.icon {
      color: #D1ACEE;
      &.icon.icon-score::before {
        background-image: url(../images/svg/tools_icon_score_10.svg);
      }
    }
  }
}

// popup - style
.popup {
  position: relative;
  background: #ECEDF2;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
  padding: 5px 20px 20px 20px;
  border-radius: $radius-s;
  box-shadow: rgba(rgba(0, 0, 0, 0.2), 0.16) 0px 3px 6px,
    rgba(rgba(0, 0, 0, 0.2), 0.1) 10px 10px 6px;
}

.mfp-fade .mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade .mfp-bg {
  .mfp-ready {
    opacity: 0.5;
  }

  .mfp-removing {
    opacity: 0;
  }

  .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
}

.mfp-fade .mfp-wrap .mfp-fade.mfp-wrap .mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade .mfp-wrap .mfp-removing .mfp-content {
  opacity: 0;
}

.popup-width-m {
  max-width: 800px;
}

.popup-width-s {
  max-width: 450px;
}

.popup-container {
  .top-text-wrap {
    h3.main-title {
      padding-top: 30px;
    }
  }
  .a-row{
    margin-bottom: 10px;
  }
}