.pushy {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #727272;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy .hi_user{
  color: #fff;
  font-size: 15px;
  padding: 48px 20px 10px 20px;
  width: 100%;
}
.pushy .text{
  margin-top: 15px;
  position: relative;
  color: #797979;
  font-size: 13px;
  padding:42px 20px 10px 20px;
  width: 100%;
}
.pushy .text::after{
  position: absolute;
  top: 0;
  left: 22px;
  content: "";
  width: 100px;
  height: 38px;
  display: block;
  background: url(../images/weblisher_logo_g.svg) center center no-repeat;
  background-size: contain;
}
.pushy .text .ss{ font-size: 12px;}
.pushy ul li.other-link{
  padding: 15px 20px;
}
.pushy ul li.other-link a{
  font-size: 14px;
  padding-right: 15px;
  color: #d1d1d1;
}

.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

/* menu */
.pushy-content {
  visibility: hidden;
  position: relative;
}

.pushy-content p.menu_topTitle {
  font-size: 16px;
  font-weight: bold;
  padding: 18px 10px 15px 15px;
  color: #fff;
}

.pushy-content  p.menu_topTitle .icon_shop {
  color: #27D0CA;
  font-size: 17px;
  padding-right: 5px;
}
.pushy-content ul.mainMenu {
  border-bottom: 1px solid #dfdfdf8c;
  width:100%;
  overflow-y: auto;
}
.pushy-content ul.mainMenu:last-child{
  border: none;
}
.pushy-content ul li {
  width: 100%;
  position: relative;
}
.pushy-content ul li .second-menu{
  display: none;
}
.pushy-content ul li label{
  cursor: pointer;
}
.pushy-content ul li label.second-menu-lab {
  display: block;
}

.pushy-content ul li h3 {
  color: #fff;
  font-size: 16px;
  line-height: 48px;
}

.pushy-content ul li h3 a {
  color: #fff;
  display: block;
  position: relative;
  padding-left: 45px;
}

.pushy-content ul li h3:hover {
  color: #27d0ca;
}

.pushy-content ul li h3 a:hover {
  color: #27d0ca;
}

.pushy-content ul li h3 i,
.pushy-content ul li h4 i {
  position: absolute;
  top: 15px;
  left: 15px;
}

.pushy-content ul li i.the_arr {
  position: absolute;
  left: inherit;
  right: 20px;
}

.pushy-content ul li h3.btn_in {
  background-color: #27d0ca;
}

.pushy-content ul li h3.btn_in a {
  color: #fff;
}
.pushy-content ul li h4 {
  font-size: 15px;
  cursor: pointer;
  position: relative;
  padding-left: 45px;
  line-height: 48px;
}

.pushy-content ul li h4 a {
  color: #fff;
}

.pushy-content ul li h4.btn_in {
  background-color: #edecec;
}

.pushy-content ul li p {
  font-size: 15px;
}

.pushy-content ul li p a {
  color: #fff;
  line-height: 48px;
  display: block;
  padding-left: 45px;
  position: relative;
}

.pushy-content ul li p a:hover {
  color: #27d0ca;
}

.pushy-content ul li p.btn_in a {
  color: #27d0ca;
}

.pushy-content ul li .subMenu,
.pushy-content ul li ul.item_list {
  display: none;
}

.pushy-content ul li ul.item_list {
  background-color: #fff;
}

.pushy-content ul li ul.item_list li p a {
  font-size: 14px;
  padding-left: 45px;
}


.pushy-content input {
  display: none;
}

.pushy-content input+label {
  line-height: 48px;
  display: block;
}

.pushy-content input+label h3 {
  padding-left: 45px;
}

.pushy-content input~ul {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  /* height: 0px; */
  /* overflow: hidden; */
}

.pushy-content input:checked+label h3 {
  background-color: #27d0ca;
  color: #fff;
}
/* ... */

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left {
  overflow: hidden;
}
.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}
@media (min-width: 1400px) {
  .pushy.pushy-left {
    -webkit-transform: translate3d(-280px, 0, 0);
    -ms-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
  .pushy-open-left #container,
  .pushy-open-left .push {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .pushy-open-left .site-overlay {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu > ul {
  font-size: 13px;
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu > ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
  padding-left: 20px;
  font-size: 16px;
}
.pushy-submenu button:hover {
  color: #fff;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: "\f054";
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  font-family: Font awesome\5 Free;
  font-weight: 900;
  font-size: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed > ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open > ul {
  max-height: calc(100% - 300px);
  visibility: visible;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

/*# sourceMappingURL=pushy.css.map */
